.organization-header{
  // display: flex;
  // justify-content: space_between;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organization-header h2 {
  text-align: center;
}

.organization-button-container{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organization-banner-container{
  position: relative;
  width: 100%;
  height: 250px;
  min-height: 80px;
  overflow: hidden;
}

.organization-logo-container{
  border-style: solid;
  border-color: $stepify-light-gray;
  border-width: thin;
  box-shadow: 0 5px 0 $stepify-salmon;
  margin-top: -100px;
  width: 200px;
  margin-bottom: 30px;
  z-index: 2;
}

.organization-logo{
  max-height: 150px;
  max-width: 100%;

}

.organization-banner-img{
  flex-shrink: 0;
  min-width: 100%;
    min-height: 100%;
    background-position: center center;
}
.organization-subtitle{
  color: white;
}

