

.steplist-show-header{
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  min-height: 150px;
  h2{
    margin-top: 0px;
    font-size: 50px;
  }
}

.steplist-show-infobar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $stepify-light-gray;
  color: $gray;
  box-shadow: 0 3px 0 #d7e4ed;
  ul{
    margin: 10px;
  }
  li{
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0px 15px;
  }

}
