

.steplist-show-header{
  background-color: white;
  // display: flex;
  max-width: 800px;
  border-radius: 1%;
  text-align: center;
  min-height: 150px;
  margin-top: 40px;
  box-shadow: 0 5px 0 gray;

  h2{
    margin: 15px;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: solid;
    padding-bottom: 16px;
  }
  h4{
    margin: 15px;
    font-size: 18px;
  }
}

.steplist-header-text-container{
  max-width: 800px;
  text-align: center;
}

.steplist-show-infobar{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  color: gray;
  ul{
    margin: 10px;
  }
  li{
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0px 15px;
  }

}

.steplist-show-wrapper{
  background-color: #838C92;
}
