.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fc6e5c;
    background-color: #294f89;
    border: 1px solid #ddd0;
    border-bottom-color: transparent;
    cursor: default;
}

