<div style="background-color: #F5F7FB; ">
<div class="container">
    <h1> root Home as Steplists#Index</h1>

      <% @steplists.each do  |steplist|%>
    <div class="steplist-card-block" >
      <div class="steplist-card" style="width: 18rem;">
          <div class="steplist-card-body">
          <h5 class="steplist-card-title"> <%= link_to "#{steplist.title}",steplist_path(steplist) %></h5>
          </div>
      </div>
      </div>
      <% end %>
    <%= link_to "Create Steplist", new_steplist_path, class: 'btn btn-primary btn-xl'  %>
  </div>
</div>
