<div class="container">
    <h1> root Home as Steplists#Index</h1>
    <ul>
      <% @steplists.each do  |steplist|%>
        <li>
          <%= link_to "#{steplist.title}",steplist_path(steplist) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Create Steplist", new_steplist_path, class: 'btn btn-primary btn-xl'  %>
</div>
