

<% if org.logo.present? %>
<% logo_path = cl_image_path org.logo %>
<% else %>
<% logo_path = "https://png.icons8.com/ios/1600/company.png" %>
<% end %>

<a class="card-link" href="<%= organization_path(org)%>">



<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <div class="org-card ">
      <div class="steplist-card-body">


      <div class="row org-logo-row" style="text-align: center;">
        <div class="org-thumbnail">
          <%= image_tag logo_path, class: "portrait" %>
        </div>
      </div>

      <div >
        <div class="org-card-description">
          <h2 ><%= org.company_name %></h2>
          <h6 class="steplist-card-steps"> <%= org.steplists.where(private: false).count %> Public steplists </h6>
        </div>
      </div>

      </div>
    </div>

</div>

</a>
