
<p class="step-popup-description"><%= step.description %><p>
<% if step.photos.any?  %>
  <div class="image-popup-container">
    <% step.photos.each do |photo| %>
    <%= cl_image_tag photo.image, height: 200, width: 300, crop: :fill, class: 'popup-image-item'%>
    <% end %>
  </div>
  <% end %>


