<% @steplist.steps.each do |step|  %>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-seeing">
        <i class="fa fa-check" id="center-icon"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <div>

        <h4 id="step-title-timeline"><%=step.title %></h4>
        <i class="fas fa-video" id="content-icon"></i>

        </div>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

<% end %>

