<div class="browser-tab">
<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">My Steplists</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Browse All</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">My Pins</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">My Organization</label>

</main>
</div>
