

<div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all-steplists" aria-controls="all-steplists" role="tab" data-toggle="tab">All Steplists</a></li>

    <li role="presentation"><a href="#my-steplists" aria-controls="my-steplists" role="tab" data-toggle="tab">My Steplists</a></li>

    <li role="presentation"><a href="#my-pins" aria-controls="my-pins" role="tab" data-toggle="tab">My Pins</a></li>
  </ul>



  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all-steplists">
      <% @steplists.each do |steplist| %>
        <%= render 'shared/steplist_card', steplist: steplist %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="my-steplists">
      <% @my_steplists.each do |steplist| %>
        <%= render 'shared/steplist_card', steplist: steplist %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="my-pins">
      <% @my_pins.each do |pin| %>
        <%= render 'shared/steplist_card', steplist: pin.steplist %>
      <% end %>
    </div>
</div>
