<div class = "row main-banner">
  <div class="container home-banner-container">
    <div home-banner-container><%= image_tag "logo4.png"%>
    <h3 class="dashboard-text">Share knowledge, step by step.</h3>
    <div class="btn btn-success home-banner-button">Take your first step</div>
    </div>
  </div>
</div>

 <%= link_to "Crate new steplist", new_steplist_path, class: 'btn btn-success btn-lg' %>
</div>
