<% @steplists = Steplist.all %>

<div class="container" >
<h1>Pages#home</h1>
<h2>Where all Stpelists live</h2>
<h3>Total steplists: <%= Steplist.count %></h3>

<ul>
  <% @steplists.each do  |steplist|%>
    <li>
      <%= link_to "#{steplist.title}",steplist_path(steplist) %>
    </li>
  <% end %>
</ul>


 <%= link_to "Crate new steplist", new_steplist_path, class: 'btn btn-success btn-lg' %>
</div>
