<div class = "row main-banner">
  <div class="container home-banner-container">
    <%= image_tag "logo4.png", class: "home-logo"%>
    <h3 class="dashboard-text">Share knowledge, step by step.</h3>
    <%= link_to "Take your first step now", steplists_path, class: "btn btn-success home-banner-button" %>
    </div>
  </div>
</div>

 <%= link_to "Crate new steplist", new_steplist_path, class: 'btn btn-success btn-lg' %>
</div>
