<div class = "row main-banner">
  <div class="container home-banner-container">
    <%= image_tag "logo4.png", class: "home-logo"%>
    <h3 class="dashboard-text">Share knowledge, step by step.</h3>
    <%= link_to "Take your first step now", steplists_path, class: "btn btn-success home-banner-button" %>
    </div>
  </div>


<div class = "row">
  <div class="container">
    <div class="col-xs-12 col-lg-4">
      Image
    </div>
    <div class="col-xs-12 col-lg-8">
      Features
      <ul>
        <li>First feature</li>
        <li>Second feature</li>
        <li>Third feature</li>
        <li>Last feature</li>
      </ul>
    </div>
  </div>
</div>


</div>
