<% texto = "You are a member of this companies on Stepify"%>
<div class = "content-vertical-space">
  <div class="container">
    <%= render 'shared/tabs_index_bootstrap_tabs', texto: texto%>
    <div class="container steplist-cards-background">
    <% @my_orgs.each do |org| %>
      <%= render 'shared/org_card', org: org  %>
    <% end %>
  </div>
</div>
</div>





