<% texto = "Company"%>

<div class = "content-vertical-space">
  <div class="container">
    <%= render 'shared/tabs_index_bootstrap_tabs', texto: texto%>
    <div class="container steplist-cards-background" style="padding-top: 40px; background-color: #284f8a;">
    <% @my_orgs.each do |org| %>
      <%= render 'shared/org_card', org: org  %>
    <% end %>
  </div>
</div>
</div>





