<div class = "row main-banner">
  <div class="container home-banner-container">
    <%= image_tag "logo4.png", class: "home-logo"%>
    <h3 class="dashboard-text">Share knowledge, step by step.</h3>
    <%= link_to "Take your first step now", steplists_path, class: "btn btn-success home-banner-button" %>
    </div>
  </div>

  <!-- Icons Grid After Baner -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Find a steplits</h3>
            <p class="lead mb-0">That gives you exactly the sequential tasks you need to know in order to achieve your goal</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Craft a steptlist</h3>
            <p class="lead mb-0">Share your know-how and skills while you help the rest of the world</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Curate the knowledge</h3>
            <p class="lead mb-0">Curate an custom-made knowledge path that mataches your collaborators training needs and remains within arms-reach during their day to day</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Join now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class=" row form-row">

              <%= link_to 'Step right in', new_user_registration_path, class: 'btn btn-success btn-lg' %>

            </div>
          </form>
        </div>
      </div>
    </div>
  </section>












  <!-- After Icons Grid -->


<div class = "row">
  <div class="container">
    <div class="col-xs-12 col-lg-4">
      Image
    </div>
    <div class="col-xs-12 col-lg-8">
      Features
      <ul>
        <li>First feature</li>
        <li>Second feature</li>
        <li>Third feature</li>
        <li>Last feature</li>
      </ul>
    </div>
  </div>
</div>


</div>
