.btn {
  text-align: right;
  border-radius: 10px;
}

.pin-box {
position: absolute;
bottom: 3px;
right: 5%;
display: block;
float: right;
}

.steplist-card-body .pinned i {
  color: $stepify-salmon;
  opacity: 1;
  font-weight: bold;
}

.steplist-card-body i {
  opacity: 0.6;
  color: $stepify-gray;
 font-weight: lighter;
}

.tag-link-text {
  color:white;
}
