.image-popup-container {
  margin: 10px;
  padding: 6px;
  text-align: center;

}

.popup-image-item {
  margin: 10px;
  padding: 6px;
}


.company-logo {
  max-width: 90px;
  max-height: 90px;

}

.company-banner img {
  min-height: 150px;
  width:750px;

}

.banner img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
