#r-navbar{
  background-color: $stepify-salmon;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;

  li > a {
  color: #fff;
  }
}

.r-navbar-logo{
  background-color: #333333;
}
