#r-navbar{
  background-color: $stepify-salmon;
  // text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-style: none;
}

.r-navbar-logo{
  background-color: #333333;
}

