#step-title-timeline{
  font-size: 18px;
  font-weight: regular;
  padding: 10px;
  color: $stepify-dark-gray;
  margin-left: 15px;
}

.fa{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

#content-icon{
  color: $stepify-light-gray;
}

@media only screen and (min-width: 1170px) {

.fa{
  padding-left: 5px;
  padding-top: 5px;
  font-size: 30px;
  color: white;

  }
}

#step-delete-icon{
  color: $red;
  font-size: 20px;
  margin-top: -10px;
}

#step-edit-icon{
  color: $blue;
  font-size: 21px;
  margin-top: -10px;
}
