.steplist-card-block {
  position: relative;
  background: #ffffff;
  border-radius: 0.25em;
  border-color: $stepify-dark-gray;
  padding: 10px;
  margin: 15px;
  height: 150px;
  border-top: 5px solid $stepify-salmon;
  text-align: center;
  // padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  min-width: 150px;
  max-width: 300px;
  &:hover{
    background: #F0F0F0;
    color: white;
  }
  a{
    text-decoration: none;
    color: $stepify-dark-gray;
  }
}

.author-name{
  color: $stepify-salmon;
  font-weight: light;
}

.steplist-title-card{
  color: $stepify-dark-gray;
  font-weight: bolder;
}

.steplist-cards-background{
  height: 100hv !important;
}

