<div class="container">
  <h1>List of organizations</h1>
  <ul>
    <% @organizations.each do |org| %>
      <li>
        <h3><%= link_to "#{org.company_name}", organization_path(org) %></h3>
      </li>
    <% end %>
  </ul>
</div>

